@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --clr-dark:#0B0C14;
    --clr-light:#C9D3EE;
    --clr-black:#000000;
    --clr-white:#ffffff;
    --clr-blue:#5B63D3;
    --clr-gray-dark:#181926;
    --clr-gray:#646E87;
    // --clr-footer-light-bg:#f3f4f7;
    // --clr-footer-dark-bg:#05060f;
}
// CSS Reset
*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
    background-color:var(--clr-black);
    color:var(--clr-light);
}
body{
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}
img,picture,video,canvas,svg{
    display: block;
    max-width:100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:var(--clr-blue)
}