.file-upload{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.file-upload input{
    height: 30rem;
    width: 40%;
    position: absolute;
    cursor: pointer;
    opacity:0;
}
.drag-drop{
    border:1px dashed var(--clr-gray);
    border-radius: 1rem;
    height: 30rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.drag-drop p:first-of-type {
    font-size: 1.3rem;
    font-weight: bold;
}

.error{
    color:rgb(236, 49, 43);
}
.btn{
    background-color: var(--clr-gray-dark);
    color:var(--clr-white);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius:0.2rem;
    cursor: pointer;
    margin: 1rem 0; 
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.wait{
    text-align: center;
}
.md{
    margin: 0 auto;
    width:90%;
    height: 60rem;
}
.md-editor{
    height: 100%;
}
.file-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.loading-icon{
   animation:spin 1.5s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width:900px) {
    .file-upload input{
        width:80%;
    }
    .drag-drop{
        width: 80%;
    }
}
@media screen and (max-width:400px) {
    .drag-drop p:first-of-type {
        font-size: 1.1rem;
        font-weight: bold;
    }
}