.file-upload{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    input{
        height: 30rem;
        width: 40%;
        position: absolute;
        cursor: pointer;
        opacity:0;
    }
}
.drag-drop{
    border:1px dashed var(--clr-tea-green);
    border-radius: 1rem;
    height: 30rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p:first-of-type {
        font-size: 1.3rem;
        font-weight: bold;
      }
    
    .error{
        color:rgb(236, 49, 43);
    }
    .btn{
        background-color: var(--clr-blue);
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius:2.5rem;
        cursor: pointer;
        margin: 1rem 0; 
    }
}
.wait{
    text-align: center;
}
.md{
    margin: 0 auto;
    width:90%;
    height: 60rem;
}
.md-editor{
    height: 100%;
}
.file-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.loading-icon{
   animation:spin 1.5s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }